<!DOCTYPE html>
<html>
    <title>The Greg</title>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/theGreg/public/style.css" rel="stylesheet" type="text/css">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="/theGreg/public/script.js"></script>
    </head>
    <header>
        The Greg: Blog
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">Menu</button>
            <div id="dropMenu" class="dropContent">
                <a href="/theGreg/views/archives.html">Archives</a>
                <a href="/theGreg/views/blog.html">Blog</a>
                <a href="/theGreg/views/about.html">About</a>
                <a href="/theGreg/views/contact.html">Contact</a>
            </div>
        </div>
    </header>
    <body>
        
    </body>
</html>